<section id="appstore-show-train-images" class="appstore__page page__show-train-images">
  <div>
    <p style="text-align: center;">
      Select one of the following Train images by clicking
        <b>Know More</b> to view the summary and user feedback.</p>
  </div>
  <div id="train_branch_name">
        <p style="text-align: center;">Official Train Store Branch Selected:&nbsp;<span style="font-weight: bold;"></span></p>
  </div>
  <div id="no_train_image_div" style="display: none;">
        <p style="text-align: center;">No new train images are published in this Official Train Store branch!!!</p>
  </div>
  <div class="train-images-grids" id="train-images-grids"></div>
</section>