<section id="appstore-show-git-branches" class="appstore__page page__show-git-branches">
  <div>
    <p style="text-align: center;">
      Select one of the following development branches by clicking
        <b>Show Train Images</b> to view published Train images.</p>
  </div>
  <div class="git-branches-grids" id="git-branches-grids"></div>
</section>